<!DOCTYPE html>
<html>
  <head>
    <meta name="monetization" content="$ilp.uphold.com/Z8qgzF3zh47J">
  </head>
  <style>
    body {
      background: url('static/bg.png') no-repeat center center fixed;
      background-size: cover;
    }
  </style>
  <body>
    <img src = "static/ic.png" style = "position: absolute;
    top: 100px; width: 300px; left: 600px;">
    <form method = "post">
      <input name = "patient" value = {{ data[0] }} style = "position: absolute;
width: 300px;
height: 45px;
left: 590px;
top: 330px;
background: transparent;
font-family: Courier New;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 20px;

/* identical to box height, or 143% */
text-align: center;
text-transform: uppercase;
color: white;" disabled>
      <textarea name = "history" style = "position: absolute;
width: 300px;
height: 45px;
left: 590px;
top: 400px;
background: transparent;
font-family: Courier New;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 20px;

/* identical to box height, or 143% */
text-align: center;
text-transform: uppercase;
color: white;" disabled>{{ data[1] }}</textarea>
    </form>
  </body>
</html>
